body {
    max-width: 960px;
    background-image: url("/assets/images/dark_wood.png");
    margin: auto;
}

#name {
    float: left;
    position: relative;
    color: white;
    background: teal;
    padding: 20px 20px;
    margin-bottom: 0;
}

#navlinks {
    float: right;
    position: relative;
    padding: 36px  0px 20px 0px;

}

.aboutme {
    background: white;
    height: 375px;
    clear: both;
}

footer {
    position: fixed;
    border-top: 5px solid teal;
    width: 960px;
    height: 50px;
    background: grey;
    text-align: center;
}

hr {
    max-width: 900px;
}

h3 {
    padding-top: 20px;
    padding-left: 30px;
    color: teal;
}

img {
    padding-left: 30px;
    float: left;
    margin: 20px 20px 20px 0px;
}

.about-text {
    float: left;
    left: 200px;
}

#aboutpara {
    padding-left: 30px;
}
